img{
    width: 150px;
}
p{
    color: blueviolet;
    font-size: 39px;
}
h1{
    color:blue;
}
h2{
    color: blanchedalmond;
    font: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
}